[user]
	email = shane@shanelogsdon.com
	name = Shane Logsdon
	signingkey = 8CFE600F
[push]
	default = simple
[alias]
        log = log --graph --decorate --pretty=oneline --abbrev-commit
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
[core]
	editor = vim
