# emacs
emacs/.emacs.d/elpa/
emacs/.emacs.d/projectile-bookmarks.eld

# vim/nvim
autoload/
plugged/
temp/
*~
.netrwhist
vim/bundle/
vim/.vim/spell/
nvim/.config/nvim/dein
!nvim/.config/nvim/dein/repos/github.com/Shougo/dein.vim

# weechat
weechat/logs/
weechat/weechat.log

.DS_Store
