# emacs
emacs/.emacs.d/elpa/
emacs/.emacs.d/projectile-bookmarks.eld

# vim/nvim
autoload/
plugged/
temp/
*~
.netrwhist
vim/bundle/
vim/.vim/spell/

# weechat
weechat/logs/
weechat/weechat.log

.DS_Store

# machine-local overrides / secrets
*.local
