PIV/
ctrlp.vim/
hassistant.vim/
lua.vim/
neocomplete.vim/
nginx.vim/
numbers.vim/
syntastic/
tagbar/
taglist.vim/
tmuxline.vim/
vim-fugitive/
vim-indent-object/
vim-markdown/
vim-powerline/
vim-racket/
vim-surround/
vimproc/
bufexplorer.zip/
ghcmod-vim/
nerdtree/
rust.vim/
vim-airline/
vim-coffee-script/
vim-elixir/
vim-go/
vim-misc/
vimerl/
vimple/
vimrc/
vim-ruby/
vim-multiple-cursors/
